@charset "UTF-8";

:root {
    --cor-primaria: #3B52D9;
    --cor-secundaria: #B080F2;
    --cor-terciaria: #E5B3F2;
    --cor-extra: #011140;
    --fonte-principal: 'Courier New', Courier, monospace;
}

* {
    margin: 0;
}

body {
    background-image: linear-gradient(to right, #E5B3F2, #E3DCF2, #B080F2);/*
    box-shadow: inset 0 0 10px 1px black;*/
}

header {
    background: white url(Imagens/planeta.jpg) no-repeat ; 
    background-position: center top;   
    background-size: cover;
    width: 100%;
    height: 32vh;
    padding: 5vh 0 80px 0;
    text-align: center;
    font-family: var(--fonte-principal);
    color: #ffffff;
    box-shadow: inset 0 0 10px 1px black;
    min-height: 210px;
}

header > h1 {
    padding-top: 30px;
    font-weight: bold;
    font-size: clamp(20px, 6vw, 50px);
}

header > p {
    font-size: clamp(16px, 2vw, 24px);  
    margin-top: 30px;
    margin-bottom: 30px;
}

header a {
    color: white;
    text-decoration: underline;
}

header a:hover {
    background-color: var(--cor-primaria);
    padding: 12px;
    transition: all 0.5s;
    border-radius: 5px;
    box-shadow: black 0 0 5px 1px;
    border: white solid 1px;
}

main {
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.505) 0 0 5px 1px;
}

main.primeiro {
    width: 80%;
    color: var(--cor-extra);
    background-color: #ffffff;
    padding-top: 20px;
}

main.primeiro > h1 {
    text-align: left;
    margin: 20px;
    text-indent: 20px;
    font-family: 'Orbitron', sans-serif;
    color: var(--cor-primaria);
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.311), rgba(0, 0, 255, 0.311), transparent);
}

main.primeiro > h2 {
    text-align: left;
    margin: 20px;
    text-indent: 20px;
    font-family: 'Orbitron', sans-serif;
    color: var(--cor-primaria);
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.311), rgba(0, 0, 255, 0.311), transparent);
}

main.primeiro > p {
    text-align: justify;
    font-size: 18px;
    text-indent: 1em;
    margin: 0 1em 0 1em;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 1em;
}

main.midia {
    background-color: var(--cor-extra);
    width: 100%;
    padding: 50px 0 50px 0;
    box-shadow: inset 0 0 5px 1px black;
}

main.midia > p > iframe {
    width: 80%;
    height: 40vh;
    box-shadow: 0 0 10px 1px black;
}

main.midia > p {
    text-align: center;
} 