* {
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    text-align: center;
    height: 100vh;
    margin: 0;
}

img {
    width: 50%;
    margin: 40px auto;
}

main {
    padding: 10px;
    margin: 0;
}

h1, p {
    margin: 0;
    padding: 10px;
}