@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(165, 165, 165);
}

header {
    background-color: gray;
    color: rgb(0, 0, 0);
    height: 150px;
    border: 2px solid black;
}

header > h1 {
    text-align: center;
    padding: 30px 0;
}

menu {
    margin-top: 25px;
}

section a {
    display: none;
}

header a {
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin: 0;
}

header a:hover {
    background-color: rgba(0, 0, 0, 0.746);
}

main {
    background-color: white;
    width: 80%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    margin-top: 20px;
}

main h1 {
    padding: 20px 0;
}

main p {
    text-indent: 2em;
    text-align: justify;
    margin: 0 20px;
    padding: 0 0 20px 0;
}

i.material-symbols-outlined {
   display: none;
}

button {
    cursor: pointer;
}

section {
    background-color: gray;
    display: none;
}

@media screen and (max-width: 768px) {

    i.material-symbols-outlined {
        display: block;
        color: white;
        text-align: center;
        background-color: rgb(71, 71, 71);
        padding: 15px;
    }
    
    menu {
        display: none;
    }

    section a {
        padding: 10px;
        background-color: rgb(92, 92, 92);
        color: white;
        border: rgba(255, 255, 255, 0.549) 1px solid;
        display: block;
        text-align: center;
        text-decoration: none;
    }

    section a:hover {
        background-color: rgba(0, 0, 0, 0.746);
    }
}

